# NEXT_PUBLIC_で始まる環境変数はnext build によるビルド時に変数値がインライン展開される

# Database
POSTGRES_URL=your_postgres_url_here
PRISMA_DATABASE_URL=your_prisma_database_url_here
DATABASE_URL=your_database_url_here

# Authentication
AUTH_URL=your_auth_url_here
NEXT_PUBLIC_APP_URL=your_next_public_app_url_here
AUTH_SECRET=your_auth_secret_here

# Google Authentication
AUTH_GOOGLE_ID=your_google_oauth_client_id_here
AUTH_GOOGLE_SECRET=your_google_oauth_client_secret_here

# Resend API Key
RESEND_API_KEY=your_resend_api_key_here

REACT_EDITOR=vscode
# REACT_EDITOR=cursor

# ホットリロードを有効にする
NEXT_WEBPACK_USEPOLLING=1

# Stripe
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_PRICE_ID=your_stripe_price_id_here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_next_public_stripe_publishable_key_here

# Google Calendar API
GOOGLE_CALENDAR_API_KEY=your_google_calendar_api_key_here

# OLLAMA
OLLAMA_API_URL=http://ollama:11434

# OpenAI API
OPENAI_API_KEY=your_openai_api_key_here

# Vercel
VERCEL_OIDC_TOKEN=your_vercel_oidc_token_here

# freee API
AUTH_FREEE_ID=your_freee_id_here
AUTH_FREEE_SECRET=your_freee_secret_here
FREEE_OAUTH_BASE_URL=https://accounts.secure.freee.co.jp/public_api
FREEE_INVOICE_API_BASE_URL=https://api.freee.co.jp/iv
FREEE_ACCOUNTING_API_BASE_URL=https://api.freee.co.jp/api/1

# 以下のコマンドでVercelからDevelopment環境用の環境変数を取得できます
# vercel login && vercel link && vercel env pull .env.development.local --environment=development