DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public&connection_limit=1
AUTH_GOOGLE_ID=your_google_oauth_client_id
AUTH_GOOGLE_SECRET=your_google_oauth_client_secret

AUTH_SECRET=your_auth_secret_key_here
NEXTAUTH_SECRET=your_nextauth_secret_key_here
NEXTAUTH_JWT_SECRET=your_nextauth_jwt_secret_key_here
RESEND_API_KEY=your_resend_api_key_here
REACT_EDITOR=vscode
# REACT_EDITOR=cursor
# ホットリロードを有効にする
NEXT_WEBPACK_USEPOLLING=1
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_PRICE_ID=your_stripe_price_id_here

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key_here

# Google Calendar API for holiday data
GOOGLE_CALENDAR_API_KEY=your_google_calendar_api_key_here